<section class="p-4">

  <!-- ========== EJEMPLO COMBINADO (Todas las propiedades juntas) ========== -->
  <div class="mb-5">
    <h2 class="mb-3">Ejemplo con Todas las Propiedades</h2>
    <!-- ========== TODO ========== -->
    <sa-icon
      [name]="iconName"
      [color]="iconColor"
      [size]="iconSize">
    </sa-icon>

    <div class="mt-4">
      <button class="btn btn-sm btn-outline-primary me-2" (click)="changeIcon()">
        Cambiar Icono ({{ iconName }})
      </button>
      <button class="btn btn-sm btn-outline-info me-2" (click)="changeColor()">
        Cambiar Color ({{ iconColor }})
      </button>
      <button class="btn btn-sm btn-outline-success" (click)="changeSize()">
        Cambiar Tamaño ({{ iconSize }})
      </button>
    </div>
  </div>

</section>
