<section class="p-4">

  <!-- ========== EJEMPLO COMBINADO (Todas las propiedades juntas) ========== -->
  <div class="mb-5">
    <h2 class="mb-3">Ejemplo con Todas las Propiedades</h2>
    <!-- ========== TODO ========== -->
    <sa-button
      label="Registrar paciente"
      variant="primary"
      size="lg"
      icon="cog"
      position="left"
      type="button"
      tooltip="Este botón tiene todas las propiedades"
      tooltipPosition="top"
      noAnimate="false"
      [disabled]="isDisabled"
      [loading]="isLoading"
      [fullWidth]="isFullWidth"
      (clicked)="simulateLoading()">
    </sa-button>

    <div class="mt-4">
      <button class="btn btn-sm btn-outline-primary me-2" (click)="isDisabled = !isDisabled">
        Toggle Disabled (   {{ isDisabled }}    )
      </button>
      <button class="btn btn-sm btn-outline-info me-2" (click)="isLoading = !isLoading">
        Toggle Loading ({{ isLoading }})
      </button>
      <button class="btn btn-sm btn-outline-success" (click)="isFullWidth = !isFullWidth">
        Toggle FullWidth ({{ isFullWidth }})
      </button>
    </div>
  </div>

</section>
